* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body { 
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    overflow-x: scroll;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    overscroll-behavior: none;
    -webkit-overflow-scrolling: touch;
}

header {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: space-evenly;
    text-align: center;
    visibility: visible;
    opacity: 1;
    top: 0;
    transition: all .5s ease-in-out;
    z-index: 5;
}

header.hide {
    visibility: hidden;
    opacity: 0;
    top: -100vh;
    transition: all .5s ease-in-out;
    z-index: -1;
}

#intro-container {
    width: 292px;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #222;
}

#intro-container h1 {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
}

#intro-container button {
    margin: 0px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold; 
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1.53px;
    color: #222;
    border: 2px solid #D5AD4F;
    border-radius: 3px;
    cursor: pointer;
    background-color: transparent;
    padding: 20px 30px;
    transition: 0.1s background-color linear;
}

#intro-container button:hover {
    background-color: #D5AD4F;
    transition: 0.1s background-color linear;
}

#intro-container a, #intro-container a:visited {
    color: #222;
}

p {
    margin: 0px;
    padding: 0px;
}

#intro-container p {
    font-size: 18px;
    line-height: 28px;
}

main {
    max-width: 100vw;
    position: relative;
    scroll-snap-type: y mandatory;
}

nav {
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 15vh;
    left: 0;
    background-color: rgb(255, 255, 255, 1);
    z-index: 2;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.02);
    display: flex;
    align-items: center
}

nav button {
    border: 0px;
    background-color: transparent;
    cursor: pointer;
}

nav .logo {
    margin-left: 20px;
}

.sticky-primary {
    position: fixed !important;
    top: 0;
}

#map { 
    width: 100%;
    max-width: 100vw;
    height: 40vh;
    position: fixed;
    top: 15vh;
    left: 0;
}

.mobile-map-tall {
    height: 65vh !important;
    max-height: 65vh;
}

.mapboxgl-ctrl-bottom-right .mapboxgl-ctrl-group {
    margin-bottom: 20px;
}

.mapboxgl-popup {
    max-width: 250px;
}

.mapboxgl-popup-content {
    background-color: black;
    color: white;
    font-family: 'Barlow', sans-serif;
    padding: 20px;
    
}

.mapboxgl-popup-content h2 {
    font-family: 'Barlow', sans-serif;
    font-weight: normal;
    font-size: 22px;
    line-height: 1.3em;
    letter-spacing: 0.01em;
    margin-bottom: 10px;
}

.mapboxgl-popup-content .js-open-sidebar-button {
    border: 0px;
    cursor: pointer;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold; 
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.53px;
    color: rgb(155, 155, 155);
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    border-bottom-color: black;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    border-top-color: black;
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: black;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: black;
}

.js-open-sidebar-button {
    background-color: black;
}

form {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
}

.mobile-open-list, .mobile-close-list {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    background-color: transparent;
    z-index: 4;
}

.mobile-open-list img, .mobile-close-list img  {
    width: 20px;
    height: 20px;
}

.open-list {
    display: none;
}

.close-list {
    display: none;
}

#map-filter {
    position: relative;
    top: 55vh;
    height: 20vh;
    max-width: 100vw;
    padding: 0px 0px 0px 0px;
    background-color: white;
    z-index: 4;
    overflow-y: hidden;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.06);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.map-filter-short {
    top: 80vh !important;
}

.sticky-secondary {
    position: fixed !important;
    top: 0px !important;
    width: 100vw;
}

#map-filter h2 {
    padding: 0px 0px 0px 0px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold; 
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 1.53px;
    color: #303030;
}

#map-filter fieldset {
    border: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

#filter-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
}

#map-filter .radio-container {
    position: relative;
}

#map-filter label {
    cursor: pointer;
    font-family: 'Barlow', sans-serif;
    letter-spacing: .01em;
    font-size: 14px;
    margin-right: 15px;
    background-color: transparent;
    padding: 8px 10px;
    text-align: center;
    position: relative;
    display: inline-block;
    flex: 0 0 auto;
    color: #303030;
    border: 0px;
    transition: 0.1s all linear;
}

label#filter-business:hover, label#filter-business input:checked + span {
    color: #008a87;
    transition: 0.1s all linear;
}

label#filter-community-organization:hover, label#filter-community-organization input:checked + span {
    color: #a760a9;
    transition: 0.1s all linear;
}

label#filter-community-landmark:hover, label#filter-community-landmark input:checked + span {
    color: #fa6800;
    transition: 0.1s all linear;
}

label#filter-events:hover, label#filter-events input:checked + span {
    color: #57c8ef;
    transition: 0.1s all linear;
}

#map-filter input {
    position: absolute;
    top: 50%;
    margin-top: -10px;
	left: 0;
    height: 20px;
    width: 20px;
	opacity: 0;
}

#map-filter span {
    margin-left: 15px;
}

.radio-container input + span::before {
    border: 1px solid;
    border-radius: 50%;
	content: "";
    height: 12px;
    width: 12px;
	position: absolute;
    top: 50%;
    margin-top: -6px;
    left: 0px;
    opacity: 1;
}

.radio-container label#filter-all input:checked + span::before {
    background: #303030;
    border: 1px solid #303030;
}

.radio-container label#filter-business input:checked + span::before {
    background: #008a87;
    border: 1px solid #008a87;
}

.radio-container label#filter-community-organization input:checked + span::before {
    background: #a760a9;
    border: 1px solid #a760a9;
}

.radio-container label#filter-community-landmark input:checked + span::before {
    background: #fa6800;
    border: 1px solid #fa6800;
}

.radio-container label#filter-events input:checked + span::before {
    background: #57c8ef;
    border: 1px solid #57c8ef;
}

.listings {
    width: 100%;
    position: relative;
    top: 55vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: scroll;
    background: white;
    margin-bottom: 20px;
    z-index: 3;
}

.listings .button-container {
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
}

.listings button {
    text-align: left;
    color: #303030;
    background-color: white;
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: .01em;
    padding: 10px;
    margin: 30px 0px 30px 30px;
    border: 0;
    cursor: pointer;
    width: 70%;
}

#sidebar {
    position: absolute;
    top: 15vh;
    right: 0;
    height: 85vh;
    max-height: 85vh;
    background-color: black;
    color: white;
    width: 0vw;
    opacity: 0;
    visibility: hidden;
    z-index: 4;
    padding: 30px;
    overflow-y: scroll;
    transition: all 0.3s;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.sidebar-open {
    width: 100vw !important;
    opacity: 1 !important;
    visibility: visible !important;
    transition: all 0.3s;
}

#sidebar h2 {
    font-family: 'Barlow', sans-serif;
    font-weight: normal;
    font-size: 28px;
    line-height: 33.6px;
    letter-spacing: 0.01em;
    margin: 15px 0px 30px 0px;
    max-width: 70%;
}

.sidebar-subhead {
    margin-top: 50px;
    color: rgb(155, 155, 155);
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold; 
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.53px;
}

.sidebar-description {
    font-family: 'Barlow', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: .01em;
}

#sidebar .close-arrow {
    width: 45px;
    cursor: pointer;
}

#sidebar a, #sidebar a:visited {
    color: white;
    text-decoration: none;
    transition: 0.1s background-color linear;
}

#sidebar a:hover {
    color: #d5ad4f;
    transition: 0.1s background-color linear;
}

.sidebar-description::after {
    content: "";
    display: block;
    width: 50%;
    border-top: 1px solid rgb(155, 155, 155);
    margin-top: 50px;
}

.sidebar-website {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: .01em;
    margin-top: 50px;
    margin-bottom: 30px;
}

.sidebar-address-1 {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: .01em;
    margin-top: 50px;
    margin-bottom: 50px;
}

.sidebar-address-2 {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: .01em;
    margin-bottom: 50px;
}

.past-events-container, .upcoming-events-container {
    padding-bottom: 50px;
}

.sidebar-event-heading::before {
    content: "";
    display: block;
    width: 50%;
    border-top: 1px solid rgb(155, 155, 155);
    margin-bottom: 50px;
}

.sidebar-event-heading {
    margin-top: 50px;
    font-family: 'Barlow', sans-serif;
    font-weight: normal; 
    font-size: 20px;
    letter-spacing: .01em;
}

.event {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.event img {
    width: 200px;
}

.event-text-container {
    padding-top: 20px;
}

.sidebar-event-title {
    font-family: 'Barlow', sans-serif;
    font-weight: bold; 
    font-size: 15px;
    letter-spacing: .01em;
    line-height: 20px;
    margin-bottom: 10px;
}

.sidebar-event-date {
    font-family: 'Barlow', sans-serif;
    font-weight: normal; 
    font-size: 13px;
    letter-spacing: .01em;
    color: rgb(155, 155, 155);
}

.hidden {
    display: none !important;
}

.mobile-hidden {
    display: none !important;
}

@media screen and (max-height: 800px) {
    nav .logo {
        height: 10vh;
        width: auto;
    }

    .mobile-open-list img, .mobile-close-list img {
        width: 15px;
        height: 15px;
    }

    #map-filter h2 {
        font-size: 17px;
    }

    #map-filter label{
        font-size: 11px;
    }
}

@media screen and (max-height: 700px) {
    #map-filter h2 {
        font-size: 14px;
    }
  }

@media screen and (max-height: 600px) {
    #intro-container {
        width: 80vw;
    }

    #intro-container h1 {
        font-size: 28px;
        line-height: 34px;
    }

    #intro-container p {
        font-size: 15px;
        line-height: 24px;
    }

    form {
        margin-left: 15px;
        margin-right: 15px;
    }

    #filter-wrapper {
        margin-top: 10px;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1199px) {

    #intro-container {
        width: 475px;
    }

    #intro-container h1 {
        font-size: 68px;
        line-height: 81px;
    }

    #intro-container p {
        font-size: 20px;
        line-height: 32px;
    }

    .mobile-map-tall {
        height: 70vh !important;
        max-height: 70vh !important;
    }

    .map-filter-short {
        top: 85vh !important;
    }

    nav .logo {
        height: 10vh;
        width: auto;
    }

    #map-filter {
        height: 15vh;;
    }
}

/* Desktop */
@media screen and (min-width: 1200px) {
    .listings.mobile-hidden {
        display: flex !important;
    }

    .desktop-hidden {
        display: none !important;
    }

    .mobile-open-list {
        display: none;
    }

    .mobile-close-list {
        display: none;
    }

    .open-list, .close-list {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 0;
        border: 0;
        background-color: transparent;
        margin-right: 30px;
        margin-top: -15px;
        visibility: visible;
        opacity: 1;
        transition: all 1s;
    }

    .open-list h2 {
        position: absolute;
        top: 50%;
        right: 35px;
        margin-top: -12px;
        font-family: 'Barlow Condensed', sans-serif;
        font-weight: normal; 
        text-transform: uppercase;
        font-size: 17px;
        letter-spacing: 1.53px;
        color: #303030;
    }

    .open-list img, .close-list img {
        width: 30px;
        height: 30px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .fade-out {
        opacity: 0 !important;
        visibility: hidden !important;
        transition: all 1s;
    }

    main {
        width: 100vw;
        height: 100vh;
    }

    #intro-container {
        width: 475px;
    }

    #intro-container h1 {
        font-size: 68px;
        line-height: 81px;
    }

    #intro-container p {
        font-size: 20px;
        line-height: 32px;
    }

    nav {
        width: 100%;
        transition: all 0.3s;
        box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.04);
    }

    .nav-expanded {
        width: 70% !important;
        transition: all 0.5s;
    }

    nav .logo {
        margin-left: 30px;
    }

    .mobile-map-tall {
        height: 100vh !important;
        max-height: 100vh !important;
    }

    .mapboxgl-ctrl-bottom-right .mapboxgl-ctrl-group {
        margin-bottom: 10px;
        margin-right: 10px;
    }

    .js-open-sidebar-button {
        display: none;
    }

    #map { 
        position: absolute;
        height: 85vh;
        width: 100vw;
        top: 15vh;
        left: auto;
    }

    .map-expanded {
        width: 70vw !important;
        max-width: 70vw !important;
        height: 85vh !important;
        max-height: 85vh !important;
        transition: all 0.5s;
    }
    
    #map-filter.map-filter-short {
        top: auto !important;
    }

    #map-filter {
        position: absolute;
        top: auto;
        bottom: 50px;
        height: auto;
        width: 200px;
        border-bottom: 0px;
        padding: 20px;
        margin-left: 30px;
        box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.04);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    form {
        margin: 0px;
    }
    
    #map-filter h2 {
        margin: 10px 10px 0px 10px;
        padding: 0px;
    }

    #map-filter label {
        font-size: 12px;
        margin-right: 0px;
        margin-bottom: 10px;
        border: 0px !important;
        padding: 6px 6px 6px 6px;
        text-align: left;
        display: block;
    }

    #filter-wrapper {
        flex-direction: column;
        margin: 20px 0px 0px 10px;
    }

    .listings {
        width: 0%;
        visibility: hidden;
        opacity: 0;
        display: flex;
        position: fixed;
        height: 100%;
        top: 0;
        right: 0;
        overflow-x: hidden;
        overflow-y: scroll;
        transition: all 0.3s;
        box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.02);
        border-left: 1px solid #e5e5e5;
    }

    .desktop-expanded {
        width: 30%;
        visibility: visible;
        opacity: 1;
        transition: all 0.5s;
    }

    .listings button {
        margin-right: 0px;
    }

    #sidebar {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        max-height: 100%;
        box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.08);
        padding: 40px;
    }

    .sidebar-open {
        width: 30vw !important;
        opacity: 1 !important;
        visibility: visible !important;
        transition: all 0.5s;
    }

    .event {
        flex-direction: row;
    }

    .event img {
        width: 125px;
    }
    
    .event-text-container {
        padding-left: 20px;
        padding-top: 0px;
    }
}